/* CSS for Login Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('2148719982.jpg') no-repeat center center/cover;
}

.login-container {
    background-color:#caf0f8;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: popup 0.5s ease-in-out forwards;
    position:fixed;
    left:15%;
    top:25%;
}

.notepad {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: bolder;
        font-size: 50px;
        position: fixed;
        right:34%;
        bottom: 36%;
    }

h2 {
    margin-bottom: 40px;
    color: #023e8a;
    font-size: 38px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
    transform: scale(1.05);
}

input[type="email"]:hover,
input[type="password"]:hover {
    background-color: rgba(0, 255, 255, 0.1);
}

.button-container {
    margin-top: 30px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#A {
    color: white;
}

.btn:hover {
    background-color: #45a049;
}

.btn{
    color: white;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .career-box {
        width: 100%; /* Stack boxes on smaller screens */
        margin-bottom: 20px;
    }
}


a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Animation for popup effect */
@keyframes popup {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

p {
    margin-top: 20px;
    color: #555;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .btn {
        font-size: 16px;
    }
}
